<div *ngIf="list; else elseBlock" [ngStyle]="{background: bgDash}" class="list-wrap">
    <ul class="list">
        <li *ngFor="let product of products" class="list-item"
        routerLink="/product/{{product.id}}">{{product.name}}
        <span class="pull-xs-right tag tag-pill tag-primary price">
            {{ product.price | currency:"USD":true:"2.2-2" }}
        </span>
        </li>
    </ul>
</div>

<ng-template #elseBlock>
    <div class="block-wrap" [ngStyle]="{background: bgDash}">
        <div *ngFor="let product of products"
            class="card text-white block"
            routerLink="/product/{{product.id}}">
          <h4>
              {{product.name}}
          </h4>
          <p>
              <span class="pull-xs-right tag tag-pill tag-primary price">
                  {{ product.price | currency:"USD":true:"2.2-2" }}
              </span>
          </p>
        </div>
    </div>
</ng-template>

