<div *ngIf="product" class="product-wrap">
  <div class="product-info bg-info text-white">
      <h2>{{ product.name }} details</h2>
      <div class="my-2"><span>Id: </span>{{product.id}}</div>
      <div class="my-2"><span>Name: </span>{{product.name}}</div>
      <div class="my-2"><span>Category: </span>{{product.category}}</div>
      <div class="my-2"><span>Description: </span>{{product.description}}</div>
      <div class="my-2"><span>Price: </span>{{product.price}}</div>
      <button (click)="goBack()" class="btn btn-light">Go back</button>
  </div>
</div>
