<ng-progress></ng-progress>

<div class="mainContent">
  <div class="col-xs-3 p-a-1 article">
    <button *ngFor="let type of menuCategories" class="btn btn-outline-primary btn-block"
        [class.active]="type == selectedCategory" (click)="changeCategory(type)">
            {{type}}
    </button>
  </div>
  <div class="col-xs-9 content">
    <div *ngFor="let product of products | typeCategory:selectedCategory"
        class="card card-outline-primary block"
        routerLink="/product/{{product.id}}">
        <span>{{product.name}}</span>
        <span>{{product.price | currency:"USD":true:"2.2-2"}}</span>
    </div>
  </div>
</div>

