nav {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}

.nav-link {
    margin-right: 20px;
    padding: 10px 20px;
    background: rgb(23, 162, 184);
    border-radius: 8px;
    color: white;
    transition: 0.2s;
    width: 120px;
    text-align: center;
}
.nav-link:hover {
    background: rgb(23, 114, 136);
}

.title {
    display: flex;
    justify-content: center;
    background: #17a2b8;
}
h1 {
    display: inline;
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
    cursor: pointer;
}
h1:focus {
    outline: none;
}
h1:hover {
    opacity: 0.8;
}

.navigation {
    background: rgb(233, 224, 224);
}

.profile {
    color: bisque;
    padding-right: 20px;
}

.logged-out {
    color: indianred;
    padding-top: 20px;
  }
.logged-in {
    color: forestgreen;
    padding-top: 20px;
}

.jwt-authorization {
    width: 100%;
    text-align: center;
    padding-top: 200px;
}

.jwt-authorization button {
    width: 178px;
    cursor: pointer;
}

.jwt {
    margin-right: 10px;
}

.logout-jwt {
    margin-right: 10px;
}
