<div class="title text-white">
  <h1 routerLink="/dashboard">{{title}}</h1>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid d-flex justify-content-end">
      <form class="form-inline">
        <button class="btn btn-info my-sm-0 mr-2"
          routerLink="/home" type="button">
            Home
        </button>

        <button id="qsLoginBtn"
          class="btn btn-info my-sm-0"
          *ngIf="!auth.isAuthenticated()"
          (click)="auth.login()" type="button">
            Log In
        </button>

        <button id="qsLogoutBtn"
          class="btn btn-info my-2 my-sm-0"
          *ngIf="auth.isAuthenticated()"
          (click)="auth.logout()" type="button">
            Log Out
        </button>
      </form>
  </div>
</nav>
<nav class="navigation">
  <a routerLink="/dashboard" class="nav-link">Dashboard</a>
  <a routerLink="/category" class="nav-link">Category</a>
</nav>
<router-outlet></router-outlet>
<app-call-to-action></app-call-to-action>

