nav {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}

.nav-link {
    margin-right: 20px;
    padding: 10px 20px;
    background: rgb(184, 116, 16);
    border-radius: 8px;
    color: white;
    transition: 0.2s;
    width: 120px;
    text-align: center;
}
.nav-link:hover {
    background: rgb(233, 142, 7);
}

.title {
    display: flex;
    justify-content: center;
    background: #10c1a8;
}
h1 {
    display: inline;
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
    cursor: pointer;
}
h1:focus {
    outline: none;
}
h1:hover {
    opacity: 0.8;
}

.navbar>.container, .navbar>.container-fluid {
    justify-content: flex-end;
}

.navigation {
    background: rgb(233, 224, 224);
}