<div *ngIf="!loggedIn; else dashboard" class="jwt-authorization">
  <input type="text" placeholder="Email" [(ngModel)]="name"><br><br>
  <input type="text" placeholder="Password" [(ngModel)]="password"><br><br>
  <button *ngIf="!loggedIn" (click)="doLogin()">Login JWT</button>
   
     <div *ngIf="!loggedIn" class="logged-out">
       You are not logged in.
     </div>
   </div>

<ng-template #dashboard>
  <div class="wrapper">
    <div class="title text-white">
      <h1 routerLink="/dashboard">{{title}}</h1>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid d-flex justify-content-end">
          <form class="form-inline">
            <app-cart-summary *ngIf="authService.isAuthenticated()" class="busket"></app-cart-summary>
            <button class="btn btn-info my-sm-0 mr-2"
              *ngIf="authService.isAuthenticated()"
              routerLink="/home" type="button">
                Home
            </button>

            <button 
              class="btn btn-info my-sm-0 logout-jwt"
              *ngIf="loggedIn"
              (click)="doLogout()" type="button">
                Logout JWT
            </button>
    
            <button id="qsLoginBtn"
              class="btn btn-info my-sm-0"
              *ngIf="!authService.isAuthenticated()"
              (click)="authService.login()" type="button">
                Log In Auth0
            </button>
    
            <button id="qsLogoutBtn"
              class="btn btn-info my-2 my-sm-0"
              *ngIf="authService.isAuthenticated()"
              (click)="authService.logout()" type="button">
                Log Out Auth0
            </button>
          </form>
      </div>
    </nav>
    <nav class="navigation">
      <a routerLink="/dashboard" class="nav-link">Dashboard</a>
      <a routerLink="/category" class="nav-link">Category</a>
    </nav>
    <router-outlet></router-outlet>
    <app-call-to-action></app-call-to-action>
  </div>
</ng-template>
  
