<div *ngIf="product" class="product-wrap">
    <ng-progress
        [positionUsing]="'marginLeft'"
        [direction]="'leftToRightIncreased'"
        [trickleSpeed]="500" 
        [thick]="true" 
        [ease]="'easeInSine'"
    ></ng-progress>

  <div class="product-info bg-info text-white">
      <h2>{{ product.name }} details</h2>
      <div><span>Id: </span>{{product.id}}</div>
      <div><span>Name: </span>{{product.name}}</div>
      <div><span>Category: </span>{{product.category}}</div>
      <div><span>Description: </span>{{product.description}}</div>
      <div><span>Price: </span>{{product.price}}</div>
      <div *ngIf="authService.isAuthenticated()" class="card-text p-a-1">
          <button class="btn btn-success btn-sm pull-xs-right"
              (click)="addProductToCart(product)">
                  Add To Cart
          </button>
      </div>
      <button (click)="goBack()" class="btn btn-light">Go back</button>
  </div>
</div>
