<h4 *ngIf="auth.isAuthenticated()">
  <div *ngIf="profile">You are logged in! {{profile.name}}</div>
  <div class="forms" [formGroup]="formModel">
    <div class="block">
      <span>Выберите background для страницы Dashboard</span>
      <select class="form-control" name="background" formControlName="background">
        <option value="" selected disabled hidden>Choose here</option>
        <option value="blue">blue</option>
        <option value="green">green</option>
        <option value="white">white</option>
      </select>
    </div>
    <div class="block">
      <span>Выберите вид отображения Dashboard </span>
      <select class="form-control" name="background" formControlName="viewDashboard">
        <option value="" selected disabled hidden>Choose here</option>
        <option value="block">Блочный</option>
        <option value="list">Списком</option>
      </select>
    </div>
    <input type="submit" value="Accept"
    (click)='setLocaleStorage()'>
  </div>
</h4>
{{formModel.value | json}}

<h4 *ngIf="!auth.isAuthenticated()">
  You are not logged in! Please <a (click)="auth.login()">Log In</a> to continue.
</h4>