.block {
    margin-top: 30px;
}

h4 {
    padding: 30px;
}

select {
    margin-top: 10px;
}

input {
    margin-top: 20px;
}

select.ng-invalid {
    transition: border-color .15s ease-in-out, box-shadow .2s ease-in-out;
    box-shadow: 0 0 0.5rem rgba(248, 1, 1, 0.9);
}
select.ng-valid {
    transition: border-color .15s ease-in-out, box-shadow .2s ease-in-out;
    box-shadow: 0 0 1rem rgba(67, 206, 16, 0.8);
}

input {
    padding: 5px 10px;
    background: #10c1a8;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}