<h4 *ngIf="auth.isAuthenticated()">
  <div *ngIf="profile">You are logged in! {{profile.name}}</div>
  <div class="forms" [formGroup]="formModel">
    <div class="block">
      <span>Выберите background для страницы Dashboard</span>
      <select class="form-control" name="background" formControlName="background">
        <option value="blue">Blue</option>
        <option value="green">Green</option>
        <option value="white">White</option>
      </select>
    </div>
    <div class="block">
      <span>Выберите вид отображения Dashboard </span>
      <select class="form-control" name="dashboard" formControlName="buttons">
        <option value="block">Block</option>
        <option value="list">List</option>
      </select>
    </div>
    <div class="block">
      <span>Выберите, отображать ли форму обратной связи </span>
      <select class="form-control" name="callToAction" formControlName="action">
        <option value="true">Отображать</option>
        <option value="false">Не отображать</option>
      </select>
    </div>
    <input type="submit" value="Accept"
    (click)='setLocaleStorage()'>
  </div>
</h4>
{{formModel.value | json}}

<h4 *ngIf="!auth.isAuthenticated()">
  You are not logged in! Please <a (click)="auth.login()">Log In</a> to continue.
</h4>
