.block {
    margin-top: 60px;
}

img {
  border-radius: 50%;
  height: 100px;
  min-height: 70px;
  float: left;
  margin: 10px;
}

.welcome {
  margin: 30px 0 30px 0;
}

h4 {
    padding: 30px;
}

select {
    margin-top: 10px;
    cursor: pointer;
}
option {
    cursor: pointer;
}

input {
    margin-top: 20px;
}

select.ng-invalid {
    transition: border-color .15s ease-in-out, box-shadow .2s ease-in-out;
    box-shadow: 0 0 0.5rem rgba(238, 234, 241, 0.055);
}
select.ng-valid {
    transition: border-color .15s ease-in-out, box-shadow .2s ease-in-out;
    box-shadow: 0 0 1rem rgba(67, 206, 16, 0.8);
}

input {
    padding: 5px 10px;
    background: #10c1a8;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
}
input:hover {
    background: #0f5c52;
}
input:active {
    background: #042924;
}
