<h4>
  <div *ngIf="profile" class="profile">
      <img src="{{profile.picture}}" alt="profile picture" />
      <div class="welcome">Hello {{profile.name}}. <br>You can to change some styles</div>
  </div>

  <div class="forms" [formGroup]="formModel">

    <div class="block">
      <span>Select background for the Dashboard page</span>
      <select class="form-control" formControlName="background">
        <option value="" selected disabled hidden>Choose here</option>
        <option *ngFor="let background of backgoundColors" [ngValue]="background.color">
          {{ background.name }}
        </option>
      </select>
      <input type="submit" value="Accept"
    (click)='setLocaleStorageBg()'>
    </div>

    <div class="block">
      <span>Select the Dashboard display type</span>
      <select class="form-control" formControlName="viewDashboard">
        <option value="" selected disabled hidden>Choose here</option>
        <option *ngFor="let dashboard of viewDashboard" [ngValue]="dashboard.value">
          {{ dashboard.name }}
        </option>
      </select>
      <input type="submit" value="Accept"
    (click)='setLocaleStorageView()'>
    </div>

    <div class="block">
      <span>Select whether to display the call to action</span>
      <select class="form-control" formControlName="action">
        <option value="" selected disabled hidden>Choose here</option>
        <option *ngFor="let action of callToAction" [ngValue]="action.value">
          {{ action.name }}
        </option>
      </select>
      <input type="submit" value="Accept"
    (click)='setLocaleStorageCallTo()'>
    </div>

  </div>
</h4>
